@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


// change the theme
$white: #ffffff;
$primary:  #B02860;
$hover-color:  #f4317a;
$dark: #393f4c;
$light: #f6f8fe;
$secondary: #6d717c;
$secondarylight: #cbd2e5;
$header-height: 3rem;
$nav-width: 68px;
$normal-font-size: 1rem;
$z-fixed: 100;

$disabled-color: #f5a7c8;
$danger: #ff4136;

$theme-colors: (
    "light":      $light,
    "dark":       $dark,
    "primary":    $primary,
    "secondary":  $secondary,
    "info":       #4177b6,
    "danger": #dc3545
);

.text-error{
  color: $danger;
}
.body{
  font-family: 'Lato'!important;
  background-color: $secondarylight !important;
}

.App{
  background-color: $light !important;
}
.btn-primary {
  color: $white !important;
  background-color: $primary;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.btn-primary:hover{
    background-color: $hover-color !important;
}

.btn-primary:disabled{
    background-color: $disabled-color !important;
}
.btn-default {
  color:  $secondary !important;
  background-color: $light;
}


.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: $primary !important;
}


.text-link{
  color: #4177b6 !important;
  text-align: center !important;
  text-decoration: underline !important;
}

.height-100 {
    height: 100vh
}
.nav-brand{
  color: $secondarylight !important;
  float: center !important;
  text-align: center !important;
  align-items: center !important;
  margin-bottom: 2rem !important;
  margin-right: 0% !important;
}
.nav-item {
  float: left;
  padding: 0.5rem;
  color: $secondarylight !important;
  text-decoration: none !important;
  font-size: 1rem !important;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center !important; /* If you want the text to be centered */
  margin-bottom: 0.725rem;
  margin-right: 0% !important;
}

.navbar-expand .navbar-nav .nav-link{
  display: flex;
  flex-direction: column;
  margin-right: 0% !important;
  padding-right: 0% !important;
}

.nav-link {
  color: $secondarylight !important;
}

.navbar a.active {
  color: $primary !important;
  background-color: inherit !important;
  margin-right: 0% !important;
  padding-right: 0% !important;
}
/*.nav-link:hover {
  color: $primary !important;
  border-left: 5px solid $primary !important;
  background-color: inherit !important;
  margin-right: 0% !important;
  padding-right: 0% !important;
}*/

.main-content{
  padding-top: 0rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  overflow: hidden;
}

.main-content .card-title{
  color: #f4317a !important;
}

.main-cards{
  box-shadow: #6d717c;
  border: 0px !important;
  padding: 1rem !important;
  box-shadow: 0 0.5rem 1rem $secondarylight !important;
  min-height: 4rem !important;
  color: $primary;

}

.form-control:focus {
  border-color: $primary!important;
  box-shadow: 0 0 0 0.25rem rgba($primary, 0.25)!important;
}

.sidebar {
  float: left;
  width: 5rem;
  background-color:#D2D2D2;
  margin-left:initial;
  overflow: hidden;
  height: 100%;
  /*position: fixed;*/ //remove it
  }

  .topbar{
    background-color: $white !important;
    //box-shadow: 0 0.3rem 0.6rem rgb(0 0 0 / 15%) !important
  }

  .topbar .nav-item {
    padding-left: 2rem !important;
    padding-bottom: 0.1rem !important;
    color: #393f4c !important;
    font-size: 1.2rem !important;
    font-weight: bold !important;
    font-family: 'Lato' !important;
  }

  .selected {
    //font-weight: bold;
    background:rgba($secondary, 0.25);
  }

  .table{
    border-left:0 none !important;
    border-right:0 none !important;
    text-align: left !important;
  }

  .description-card{
    text-align: left !important;
    padding-bottom: 1rem !important;
  }

  .preference-col{
    margin-top: 2rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    //overflow-y: scroll;
    //border-right: $secondary 1px solid !important;

  }

  .preference-box{
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 15rem;
  }

  .bottom-div
  {
      background: rgba($light, 0.25);
      bottom: 0;
      position: fixed;
      //width: 100%;
  }

  .main{
    display: flex !important;
    flex-wrap: nowrap !important;
    height: 100vh !important;
    height: -webkit-fill-available !important;
    max-height: 100vh !important;
    overflow-x: auto;
    overflow-y: hidden;
   
  }
  .title-main{
    //color: $hover-color !important;
    font-size: 52px !important;
    font-weight: bold !important;
    text-align: left !important;
  }

  .card-footer{
    background-color: inherit!important;
    border-top: none!important;
    text-align: end!important;
  }

  .card-title{
    padding-top: 1.5rem!important;
  }

  .accordion-button {
    font-weight: bold !important;
  }

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

